.header-container a{
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
}
.header-container li {
  list-style: none;
   padding-right: 1rem;
}

.header-container ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 5rem;
}

.logo {
    padding-left: 0px;
    padding-right: 10rem;
}
