.app-container{
    text-align: center;
    background-color:#129CF3; 
    border: 0.1rem;
    padding: 0.5rem;
    box-shadow: 10px 15x 25px black;
    border-radius: 0.5rem;
    margin: 1px;
}
h1{
    color: black;
}